/* GLOBALS */
html, body {
  font-family: "Open Sans", sans-serif;
  height: 100%; }

body {
  overflow-x: hidden; }

/* LAYOUT */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.wrapper {
  min-height: 85%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  /* the bottom margin is the negative value of the footer's height */ }

/* Buttons */
.btn {
  margin-top: 20px;
  border: 2px solid #ff8d00;
  background-color: transparent;
  border-radius: 0px;
  color: #ff8d00;
  transition: all 0.2s ease; }
  .btn:hover {
    color: #fff;
    background-color: #ff8d00; }
  .btn:focus {
    outline: none;
    color: #ff8d00; }
  .btn:hover:focus {
    color: #fff; }

.btn-delete {
  margin: 0 2px;
  border-color: #d9534f;
  color: #d9534f; }
  .btn-delete:hover {
    background-color: #d9534f; }

.btn-edit {
  margin: 0 2px; }

.btn-lg {
  padding: 8px 14px; }

.hdr-btn {
  margin: -60px 200px 20px 0; }

.btn-search {
  border: none;
  margin-left: -35px; }
  .btn-search:hover {
    background-color: transparent;
    color: #03BC9D; }

/* Navbar */
.navbar {
  background-color: #293036;
  border-radius: 0px; }
  .navbar a {
    color: #fff; }
    .navbar a:hover, .navbar a:active, .navbar a:focus {
      color: #293036; }

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #ffbe01; }

/* Header */
.hdr-logo {
  height: 125px;
  margin: 15px auto; }

.subtitle {
  margin: 0 0 2em 0; }

.lined {
  line-height: 0.5;
  text-align: center; }
  .lined span {
    display: inline-block;
    position: relative; }
    .lined span:before, .lined span:after {
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 1px solid #cdcdcd;
      top: 0;
      width: 500px;
      margin-top: 75px; }
    .lined span:before {
      right: 100%;
      margin-right: 15px; }
    .lined span:after {
      left: 100%;
      margin-left: 15px; }

/* Home */
.home-div {
  padding: 15px; }
  .home-div .glyphicon {
    color: #fff;
    transform: scale(3, 3);
    margin-top: 40px;
    margin: 30px auto;
    text-shadow: 0.5px 0px #ffbe01; }
  .home-div h4 {
    color: #fff;
    text-shadow: 0.5px 0.5px #ffbe01;
    margin-top: 20px; }

.bucket {
  background-color: #03BC9D;
  border: 1px solid #cdcdcd;
  margin-top: 60px;
  padding: 70px 10px; }

/* Add Pet */
.addPetDiv {
  padding: 15px; }

.add-form {
  width: 65%;
  margin: 0 auto; }

.form-group {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em; }
  .form-group > label {
    position: absolute;
    top: -14px;
    color: #03BC9D;
    font-size: 1em; }
  .form-group > .short-label {
    top: 0; }

.form-control {
  border: 0;
  border-radius: 0;
  padding: 0.5em 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none;
  border-bottom: 2px solid #03BC9D;
  transition: 0.2s ease;
  margin-top: 15px; }
  .form-control:focus {
    border-color: #ff8d00;
    box-shadow: none;
    -webkit-box-shadow: none; }

.show-hide.ng-hide-add,
.show-hide.ng-hide-remove {
  transition: all linear 0.2s;
  display: block !important;
  position: absolute; }

.show-hide.ng-hide-add.ng-hide-add-active,
.show-hide.ng-hide-remove {
  top: -8px;
  display: block !important;
  position: absolute;
  opacity: 0; }

.show-hide.ng-hide-add,
.show-hide.ng-hide-remove.ng-hide-remove-active {
  top: -14px;
  opacity: 1;
  display: block !important;
  position: absolute; }

.short-label.ng-hide-add,
.short-label.ng-hide-remove.ng-hide-remove-active {
  top: 0; }

.alert-success {
  margin-top: 10px;
  width: 120px;
  margin-left: 190px; }

/* Show Pets */
.search-form {
  margin-top: -15px; }

.far-pull {
  display: inline-block;
  float: right;
  position: relative;
  margin-top: -60px; }

.petsOutDiv .col-sm-3:nth-child(4n+1) {
  clear: left; }
.petsOutDiv .col-sm-3:nth-last-child(-n+4) {
  padding-bottom: 40px; }
.petsOutDiv .pets-col {
  margin: 10px auto; }
.petsOutDiv .pet {
  box-shadow: 0px 1px 5px 2px #cccccc;
  -webkit-box-shadow: 0px 1px 5px 2px #cccccc;
  -moz-box-shadow: 0px 1px 5px 2px #cccccc;
  padding: 10px 10px 15px; }
  .petsOutDiv .pet p:not(:last-of-type) {
    margin: 0 0 5px; }
  .petsOutDiv .pet .pet-img {
    margin-bottom: 8px; }

.heavy {
  font-weight: bold;
  color: #03BC9D; }

.edit-form {
  margin-bottom: 10px; }

/* Footer */
.footer, .push {
  height: 60px;
  /* '.push' must be the same height as 'footer' */ }

.footer {
  color: #fff;
  background-color: #293036;
  position: relative;
  bottom: 0;
  width: 100%; }
  .footer a {
    color: #cdcdcd; }

.footer-list {
  list-style: none;
  padding-left: 0;
  padding: 20px 0 0 0;
  text-align: center; }
  .footer-list li {
    color: #cdcdcd;
    display: inline; }
    .footer-list li:not(:first-child):before {
      content: ' | ';
      padding: 20px; }

/*# sourceMappingURL=master.css.map */
