<!DOCTYPE html>
<div ng-controller="AddPetController" class="addPetDiv content">
  <h3 class="text-center">Add Your Pet(s):</h3>
  <form  ng-submit="postPet()" name="addPetForm" class="add-form">

    <div class="form-group">
      <label ng-show="nameIn" class="show-hide">Name:</label>
      <input ng-model="nameIn" type="text" placeholder="Name" class="form-control" required>
    </div>
    <div class="form-group">
      <label ng-show="speciesIn" class="show-hide">Species:</label>
      <input ng-model="speciesIn" type="text" placeholder="Species" class="form-control" required>
    </div>
    <div class="form-group">
      <label ng-show="ageIn" class="show-hide">Age:</label>
      <input ng-model="ageIn" type="number" placeholder="Age" class="form-control" required>
    </div>
    <div class="form-group">
      <label ng-show="urlIn" class="show-hide">Image URL:</label>
      <input ng-model="urlIn" type="text" placeholder="Image URL" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-lg">Add Pet</button>
  </form>
</div>
