<!DOCTYPE html>
<div ng-controller="ViewPetsController">

  <div class="clearfix">
    <button ng-click="toggle=!toggle" type="button" class="btn pull-right hdr-btn">
      <span ng-show="toggle">Undo Sort</span>
      <span ng-hide="toggle">Sort By Name</span>
    </button>
  </div>

  <div class="clearfix far-pull">
    <form ng-submit="getPets()" class="form-inline search-form pull-right">
      <div class="form-group">
        <label ng-show="searchIn" class="show-hide short-label">Search</label>
        <input ng-model="searchIn" type="search" class="form-control" placeholder="Search">
        <button type="submit" class="btn btn-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </div>
    </form>
  </div>

  <div  class="petsOutDiv content">
    <div class="col-xs-6 col-sm-3 text-center pets-col" ng-repeat="pet in allPets | orderBy: !toggle?'-date':'name' ">
      <div class="pet">
        <img ng-src="{{ pet.image_url }}" alt="{{ pet.name }}" class="img-responsive pet-img">

        <p><span class="heavy">Name:</span> {{ pet.name }}</p>
        <p><span class="heavy">Age:</span> {{ pet.age }}</p>
        <p><span class="heavy">Species:</span> {{ pet.animal }}</p>

        <form ng-show="isEditing" class="edit-form">
          <input type="text" ng-model="pet.name" class="form-control">
          <input type="text" ng-model="pet.age" class="form-control">
          <input type="text" ng-model="pet.animal" class="form-control">
        </form>

        <button ng-click="deletePet( pet._id )" ng-hide="isEditing" type="button" class="btn btn-sm btn-delete">
          <span class="glyphicon glyphicon-trash" aria-extended="true"></span>
        </button>
        <button ng-click="isEditing=true" ng-hide="isEditing" class="btn btn-sm btn-edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
        <button ng-show="isEditing" ng-click="postEdit( pet._id, pet.name, pet.animal, pet.age )" class="btn">Save</button>
      </div>
    </div>
  </div>

</div>
