<!DOCTYPE html>
<div ng-controller="ViewPetsController" class="petsOutDiv content">
  <div class="col-xs-6 col-sm-3 text-center pets-col" ng-repeat="pet in allPets">
    <div class="pet">
      <img ng-src="{{ pet.image_url }}" alt="{{ pet.name }}" class="img-responsive thumbnail">
      <p><strong>Name:</strong> {{ pet.name }}</p>
      <p><strong>Age:</strong> {{ pet.age }}</p>
      <p><strong>Species:</strong> {{ pet.animal }}</p>
      <button ng-click="deletePet( pet._id )" type="button" class="btn btn-sm btn-danger">Delete {{ pet.name }}</button>
    </div>
  </div>
</div>
