<!DOCTYPE html>
<div class="clearfix">
  <button ng-click="toggle=!toggle" type="button" class="btn pull-right hdr-btn">
    <span ng-show="toggle">Undo Sort</span>
    <span ng-hide="toggle">Sort By Name</span>
  </button>
</div>

<div ng-controller="ViewPetsController" class="petsOutDiv content">

  <div class="col-xs-6 col-sm-3 text-center pets-col" ng-repeat="pet in allPets | orderBy: !toggle?'-date':'name' ">
    <div class="pet">
      <img ng-src="{{ pet.image_url }}" alt="{{ pet.name }}" class="img-responsive pet-img">
      <p><span class="heavy">Name:</span> {{ pet.name }}</p>
      <p><span class="heavy">Age:</span> {{ pet.age }}</p>
      <p><span class="heavy">Species:</span> {{ pet.animal }}</p>
      <button ng-click="deletePet( pet._id )" type="button" class="btn btn-sm btn-delete">
        <span class="glyphicon glyphicon-trash" aria-extended="true"></span>
      </button>
    </div>
  </div>
</div>
