//FONTS
$mainFont: 'Open Sans', sans-serif;

//COLORS
$white: #fff;
$footerBackground: #333;


$accentColor: #03BC9D;
// $secondaryAccentColor: #ffa300;
$darkAccentColor: #293036;
$mutedGrey: #cdcdcd;
