@import 'settings';
/* GLOBALS */
html, body {
  font-family: $mainFont;
  height: 100%;
}
body {
  overflow-x: hidden;
}
/* LAYOUT */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.wrapper {
  min-height: 85%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}
/* Buttons */
.btn {
  margin-top: 20px;
  border: 2px solid $secondaryAccentColor;
  background-color: transparent;
  border-radius: 0px;
  color: $secondaryAccentColor;
  transition: all 0.2s ease;
  &:hover {
    color: $white;
    background-color: $secondaryAccentColor;
  }
  &:focus {
    outline: none;
    color: $secondaryAccentColor;
  }
  &:hover:focus {
    color: $white;
  }
}
.btn-delete {
  margin: 0 2px;
  border-color: $accentRed;
  color: $accentRed;
  &:hover {
    background-color: $accentRed;
  }
}
.btn-edit {
  margin: 0 2px;
}
.btn-lg {
  padding: 8px 14px;
}
.hdr-btn {
  margin: -60px 200px 20px 0;
}
.btn-search {
  border: none;
  margin-left: -35px;
  &:hover {
    background-color: transparent;
    color: $accentColor;
  }
}

/* Navbar */
.navbar {
  background-color: $darkAccentColor;
  border-radius: 0px;
  a {
    color: $white;
    &:hover,
    &:active,
    &:focus {
      color: $darkAccentColor;
    }
  }
}
.nav>li>a:focus,
.nav>li>a:hover {
  background-color: $secondaryAccentLight;
}

/* Header */
.hdr-logo {
  height: 125px;
  margin: 15px auto;
}
.subtitle {
  margin: 0 0 2em 0;
}
.lined {
  line-height: 0.5;
  text-align: center;
  span {
    display: inline-block;
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 1px solid $mutedGrey;
      top: 0;
      width: 500px;
      margin-top: 75px;
    }
    &:before {
      right: 100%;
      margin-right: 15px;
    }
    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}

/* Home */
.home-div {
  padding: 15px;
  .glyphicon {
    color: $white;
    transform: scale(3, 3);
    margin-top: 40px;
    margin: 30px auto;
    text-shadow: 0.5px 0px $secondaryAccentLight;
  }
  h4 {
    color: $white;
    text-shadow: 0.5px 0.5px $secondaryAccentLight;
    margin-top: 20px;
  }
}
.bucket {
  background-color: $accentColor;
  border: 1px solid $mutedGrey;
  margin-top: 60px;
  padding: 70px 10px;
}
/* Add Pet */
.addPetDiv {
  padding: 15px;
}
.add-form {
  width: 65%;
  margin: 0 auto;
}
.form-group {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  >label {
    position: absolute;
    top: -14px;
    color: $accentColor;
    font-size: 1em;
  }
  > .short-label {
    top: 0;
  }
}
.form-control {
  border: 0;
  border-radius: 0;
  padding: 0.5em 0!important;
  box-shadow: none !important;
  -webkit-box-shadow: none;
  border-bottom: 2px solid $accentColor;
  transition: 0.2s ease;
  margin-top: 15px;
  &:focus {
    border-color: $secondaryAccentColor;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
.show-hide.ng-hide-add,
.show-hide.ng-hide-remove {
    transition: all linear 0.2s;
    display: block!important;
    position: absolute;
}
.show-hide.ng-hide-add.ng-hide-add-active,
.show-hide.ng-hide-remove {
    top: -8px;
    display: block!important;
    position: absolute;
    opacity: 0;
}
.show-hide.ng-hide-add,
.show-hide.ng-hide-remove.ng-hide-remove-active {
    top: -14px;
    opacity: 1;
    display: block!important;
    position: absolute;
}
.short-label.ng-hide-add,
.short-label.ng-hide-remove.ng-hide-remove-active {
  top: 0;
}
.alert-success {
  margin-top: 10px;
  width: 120px;
  margin-left: 190px;
}


/* Show Pets */
.search-form {
  margin-top: -15px;
}
.far-pull {
  display: inline-block;
  float: right;
  position: relative;
  margin-top: -60px;
}
.petsOutDiv {
  .col-sm-3:nth-child(4n+1) {
    clear: left;
  }
  .col-sm-3:nth-last-child(-n+4) {
    padding-bottom: 40px;
  }
  .pets-col {
    margin: 10px auto;
  }
  .pet {
    @include box-shadow($shadowColor);
    padding: 10px 10px 15px;
    p {
      &:not(:last-of-type){
        margin: 0 0 5px;
      }
    }
    .pet-img {
      margin-bottom: 8px;
    }
  }
}
.heavy {
  font-weight: bold;
  color: $accentColor;
}
.edit-form {
  margin-bottom: 10px;
}
/* Footer */
.footer, .push {
    height: 60px; /* '.push' must be the same height as 'footer' */
}
.footer {
  color: $white;
  background-color: $darkAccentColor;;
  position: relative;
  bottom: 0;
  width: 100%;
  a {
    color: $mutedGrey;
  }
}
.footer-list {
  list-style: none;
  padding-left: 0;
  padding: 20px 0 0 0;
  text-align: center;
  li {
    color: $mutedGrey;
    display: inline;
    &:not(:first-child):before {
      content: ' | ';
      padding: 20px;
    }
  }
}
