@import 'settings';
//GLOBALS
html, body {
  font-family: $mainFont;
  height: 100%;
}
body {
  overflow-x: hidden;
}
//LAYOUT
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
.wrapper {
  min-height: 85%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}
//Button
.btn {
  margin-top: 20px;
  border: 2px solid $secondaryAccentColor;
  background-color: transparent;
  border-radius: 0px;
  color: $secondaryAccentColor;
  transition: 0.2s ease;
  &:hover {
    color: $white;
    background-color: $secondaryAccentColor;
  }
  &:focus {
    outline: none;
    color: $secondaryAccentColor;
  }
  &:hover:focus {
    color: $white;
  }
}
.btn-delete {
  margin-top: 0px;
  border-color: $accentRed;
  color: $accentRed;
  &:hover {
    background-color: $accentRed;
  }
}
.btn-lg {
  padding: 8px 14px;
}
.hdr-btn {
  margin: -60px 20px 20px 0;
}

//Navbar
.navbar {
  background-color: $darkAccentColor;
  border-radius: 0px;
  a {
    color: $white;
    &:hover,
    &:active,
    &:focus {
      color: $darkAccentColor;
    }
  }
}

//Header
.hdr-logo {
  height: 125px;
  margin: 15px auto;
}
.subtitle {
  margin: 0 0 2em 0;
}
.lined {
  line-height: 0.5;
  text-align: center;
  span {
    display: inline-block;
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 1px solid $mutedGrey;
      top: 0;
      width: 500px;
      margin-top: 75px;
    }
    &:before {
      right: 100%;
      margin-right: 15px;
    }
    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}

//Home
.home-div {
  padding: 15px;
  .glyphicon {
    color: $white;
    transform: scale(3, 3);
    margin-top: 40px;
    margin: 30px auto;
    text-shadow: 0.5px 0px $mutedGrey;
  }
  h4 {
    color: $white;
    text-shadow: 0.5px 0.5px $mutedGrey;
    margin-top: 20px;
  }
}
.bucket {
  background-color: $accentColor;
  border: 1px solid $mutedGrey;
  margin-top: 60px;
  padding: 70px 10px;
}
//Add Pet
.add-form {
  width: 65%;
  margin: 0 auto;
}
.form-control {
  border: none;
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 2px solid $accentColor;
  transition: 0.2s ease;
  &:focus {
    border-color: $secondaryAccentColor;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
//Show Pets
.petsOutDiv {
  .col-sm-3:nth-child(4n+1) {
    clear: left;
  }
  .col-sm-3:nth-last-child(-n+4) {
    padding-bottom: 40px;
  }
  .pets-col {
    margin: 10px auto;
  }
  .pet {
    box-shadow: 0px 1px 5px 2px rgba(204,204,204,1);
    -webkit-box-shadow: 0px 1px 5px 2px rgba(204,204,204,1);
    -moz-box-shadow: 0px 1px 5px 2px rgba(204,204,204,1);
    padding: 10px 10px 15px;
    p {
      &:not(:last-of-type){
        margin: 0 0 5px;
      }
    }
    .pet-img {
      margin-bottom: 8px;
    }
  }
}
.heavy {
  font-weight: bold;
  color: $accentColor;
}
//Footer
.footer, .push {
    height: 60px; /* '.push' must be the same height as 'footer' */
}
.footer {
  color: $white;
  background-color: $darkAccentColor;;
  position: relative;
  bottom: 0;
  width: 100%;
  a {
    color: $mutedGrey;
  }
}
.footer-list {
  list-style: none;
  padding-left: 0;
  padding: 20px 0 0 0;
  text-align: center;
  li {
    color: $mutedGrey;
    display: inline;
    &:not(:first-child):before {
      content: ' | ';
      padding: 20px;
    }
  }
}
